@import "base";
.input-field {
	&--radio {
		label {
			position: relative;
			display: block;
			padding-left: 1.5em;
		}
		input {
			position: absolute;
			clip-path: inset(100% 100% 100% 100%);
			opacity: 0;
		}
		input + label {
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 1em;
				height: 1em;
				box-shadow: 0 0 0 1px currentColor inset;
				border-radius: 50%;
				transform: translateY(-50%);
			}
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0.25em;
				display: block;
				width: 0.5em;
				height: 0.5em;
				border-radius: 50%;
				background-color: var(
					--checkbox-check-color,
					var(--checkbox-check-default, #{$base-primary-color})
				);
				transform: translateY(-50%) scale(0);
				transition: transform $base-transition-bounce;
			}
		}
		input:checked + label {
			&::after {
				transform: translateY(-50%) scale(1);
			}
		}
		input:focus + label {
			&::before {
				box-shadow: 0 0 0 1px currentColor inset,
					0 0 0 2px #{rgba($base-primary-color, 0.33)};
			}
		}
	}
}
