@import "base";
.loading {
	width: 4em;
	height: 4em;
	border-width: 1em;
	border-style: dashed;
	border-color: transparent transparent currentColor currentColor;
	border-radius: 50%;
	animation: goRound 5s infinite;
	@at-root {
		@keyframes goRound {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}
}
