@import "base";
$base-transition: 0.5s;
.button {
	position: relative;
	position: relative;
	z-index: 1;
	display: block;
	border: none;
	border-radius: 1.5em;
	background-color: transparent;
	color: setLightness(--base-color-primary, 40);
	font-weight: 600;
	font-size: 1rem;
	line-height: 1em;
	text-decoration: none;
	transition: var(--base-transition, #{$base-transition}) ease-in-out;
	// color: var(--bg);
	margin: 1rem;
	padding: 1em 1.25em;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		transition: background
			var(--base-transition-bounce, #{$base-transition-bounce});
		animation: bumpOut var(--base-transition-bounce, #{$base-transition-bounce})
			forwards;
		@at-root {
			@keyframes bumpOut {
				from {
					transform: scale(1.05, 1.1);
				}
				to {
					transform: scale(1);
				}
			}
		}
	}
	&.button--primary::before {
		background-color: setLightness(--base-color-primary, 90);
	}
	&.button--secondary::before {
		box-shadow: 0 0 0 2px #{setLightness(--base-color-primary, 80)} inset;
	}
	&:focus,
	&:hover {
		outline: none;
	}
	&__text {
		position: relative;
		z-index: 2;
	}
	&[disabled] {
		filter: grayscale(100%);
		opacity: 0.5;
		pointer-events: none;
	}
	&:hover {
		.button__text {
			animation: bumpInOut
				var(--base-transition-bounce, #{$base-transition-bounce}) forwards;
			@at-root {
				@keyframes bumpInOut {
					0%,
					100% {
						transform: scale(1);
					}
					80% {
						transform: scale(1.1);
					}
				}
			}
		}
		&::before {
			animation: bumpIn var(--base-transition-bounce, #{$base-transition-bounce})
				forwards;
			@at-root {
				@keyframes bumpIn {
					0% {
						transform: scale(1, 1);
					}
					50% {
						transform: scale(1, 1.1);
					}
					100% {
						transform: scale(1.05, 1.1);
					}
				}
			}
		}
	}
	@each $color-name, $color-value in $colors {
		&--#{to-lower-case($color-name)} {
			color: setLightness($color-value, 30);
			&.button--primary {
				&::before {
					background-color: setLightness(--color-#{to-lower-case($color-name)}, 90);
				}
				&:hover::before {
					background-color: setLightness(--color-#{to-lower-case($color-name)}, 80);
				}
			}
			&.button--secondary {
				&::before {
					box-shadow: 0
						0
						0
						2px
						setLightness(--color-#{to-lower-case($color-name)}, 90)
						inset;
				}

				&:hover::before {
					box-shadow: 0
						0
						0
						2px
						setLightness(--color-#{to-lower-case($color-name)}, 80)
						inset;
				}
			}
		}
	}
}
