@import "base";
$base-transition: 0.5s;
.button {
	color: darken($guyn-SkyblueDark, 10%);
	position: relative;
	z-index: 1;
	display: block;
	border: none;
	border-radius: 1.5em;
	// color: var(--bg);
	font-weight: 600;
	font-size: 1rem;
	line-height: 1em;
	text-decoration: none;
	transition: $base-transition ease-in-out;
	padding: 1em 1.25em;
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: inherit;
		z-index: 1;
		background-color: lighten($guyn-SkyblueLight, 20%);
		transition: transform $base-transition-bounce;
	}
	&:focus,
	&:hover {
		outline: none;
	}
	&__text {
		position: relative;
		z-index: 2;
	}
	&:hover::before {
		transform: scale(1.05, 1.1);
	}
}
