h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
.input-field {
	margin: 0;
	& + h4,
	& + h5,
	& + h6,
	& + table,
	& + .input-field,
	& + p {
		margin-top: var(--base-margin, #{$base-margin});
	}
	& + h1,
	& + h2,
	& + h3 {
		margin-top: calc(var(--base-margin, #{$base-margin}) / 2);
	}
}
