@import "base";
.input-field {
	& + .input-field {
		margin-top: var(--base-form-margin, var(--base-margin, #{$base-margin}));
	}

	&--focus {
		.input-field__input {
			box-shadow: 0 0 0 1px currentColor inset,
				0 0 0 3px setOpacity(--base-color-primary, 25);
			& + .input-field__label {
				color: var(
					--base-form-highlight,
					var(--base-color-primary, #{$base-color-primary})
				);
			}
		}
	}
	&__instructions {
		font-size: 0.875em;
		opacity: 0.5;
		margin-top: 0.5em;
	}
	&--inline {
		flex-direction: row-reverse !important;
		justify-content: flex-start;
		.input-field__label {
			width: 33.33%;
			line-height: 1;
			padding: 1em;
			margin-bottom: 0 !important;
		}
		.input-field__select,
		.input-field__input {
			width: 66.66%;
		}
	}
	&__group {
		display: inline-flex;
		.input-field + .input-field {
			margin-top: 0;
		}
		&--inline-space {
			flex-direction: row;
			flex-wrap: wrap;
			.input-field + .input-field {
				margin-left: 1em;
			}
		}
		&--stack-space {
			flex-direction: column;
			.input-field + .input-field {
				margin-top: 1em;
			}
		}
		&--inline {
			flex-direction: row;
			.input-field--radio + .input-field--radio,
			.input-field--check + .input-field--check {
				margin-left: 1em;
			}
		}
		&--stack {
			flex-direction: column;
			.input-field--radio + .input-field--radio,
			.input-field--check + .input-field--check {
				margin-top: 1em;
			}
		}
		&--small {
			border: 1px solid red;
		}
	}
	&__group-label {
		display: block;
		width: 100%;
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		opacity: 0.5;
		& + .input-field__group {
			margin-top: 1em;
		}
	}
}
