:root {
	--is-dark: 0;
}
.sidebar {
	background-color: var(--base-color-background, #{$base-color-background});
	border-right: var(--base-border, #{$base-border});
	color: var(--sidebar-background, #{setLightness("--base-color-primary", 30)});
	padding: 1rem;
	&__toggle {
		position: fixed;
		border: 1px solid red;
		top: 0;
		left: 0;
		width: 3rem;
		height: 3rem;
		z-index: 10;
		&:hover {
			border: 1px solid blue;
		}
	}
	&__group {
	}

	&__subgroup {
		position: relative;
		&::before {
			opacity: 0;
			border-radius: var(--base-border-radius, #{$base-border-radius});
			background-color: var(--base-color-background, #{$base-color-background});
			box-shadow: 0 0 1rem 0 var(--base-color-light, #{$base-color-light});
			position: absolute;
			content: "";
			left: -0.5rem;
			top: -0.5rem;
			width: calc(100% + 1rem);
			height: calc(100% + 1rem);
			display: block;
			transform: scale(0.5);
			transition: all $base-transition-bounce;
		}
		&--has-active,
		&--open {
			&::before {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	&__heading {
		// opacity: 0.5;
		// text-transform: uppercase;
		// letter-spacing: 1px;
		font-size: 1.25rem;
		position: relative;
		z-index: 2;
	}
	&__subheading {
		opacity: 0.25;
		padding: 0.5rem;
		display: block;
		font-weight: bold;
		font-size: 0.875rem;
		text-transform: uppercase;
		&--active {
			opacity: 0.5;
		}
	}
	&__link {
		display: block;
		border-radius: 0.25rem;
		padding: 0.5rem;
		position: relative;
		z-index: 1;
		&::before {
			opacity: 0;
			border-radius: var(--base-border-radius, #{$base-border-radius});
			background-color: var(--base-color-background, #{$base-color-background});
			position: absolute;
			content: "";
			z-index: -1;
			left: -0.25rem;
			top: -0.25rem;
			width: calc(100% + 0.5rem);
			height: calc(100% + 0.5rem);
			display: block;
			transform: scale(0.5);
			background-color: setLightness("--base-color-secondary", 90);
		}
		&.active {
			font-weight: bold;
			color: setLightness("--base-color-secondary", 30);

			&::before {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	&__list {
		padding: 1rem;
		// border: 1px solid red;
	}
	&__sublist {
		// padding: 1rem;
		// border: 1px solid blue;
	}
	&__item {
		display: block;
		&--open {
			&.sidebar__item--depth-0 {
				background-color: var(--base-color-secondary, #{$base-color-secondary});
			}
		}
		&--depth-0 {
			& + .sidebar__item {
				margin-top: 2rem;
			}
		}
		&--has-children {
			& + .sidebar__item {
				margin-top: 1rem;
			}
		}
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}
