@import "base";
.notification {
	--notification-color: var(
		--base-color-notification,
		#{$base-color-notification}
	);
	--notification-background: #{setLightness(--base-color-notification, 80)};
	--notification-text: #{setLightness(--base-color-notification, 20)};
	border-radius: 0 var(--base-border-radius, #{$base-border-radius})
		var(--base-border-radius, #{$base-border-radius})
		var(--base-border-radius, #{$base-border-radius});
	background-color: var(--notification-background);
	background-image: linear-gradient(
		var(--notification-color),
		var(--notification-color)
	);
	background-repeat: repeat-y;
	background-size: 0.5em 100%;
	color: var(--notification-text);
	padding: 1em 1em 1em 1.5em;
	&__title {
		color: var(--notification-color);
	}
	&--warning {
		--notification-color: var(--base-color-warning, #{$base-color-warning});
		--notification-background: #{setLightness(--base-color-warning, 80)};
		--notification-text: #{setLightness(--base-color-warning, 20)};
	}
	&--error {
		--notification-color: var(--base-color-error, #{$base-color-error});
		--notification-background: #{setLightness(--base-color-error, 80)};
		--notification-text: #{setLightness(--base-color-error, 20)};
	}
	&--success {
		--notification-color: var(--base-color-success, #{$base-color-success});
		--notification-background: #{setLightness(--base-color-success, 80)};
		--notification-text: #{setLightness(--base-color-success, 20)};
	}
}
