p,
td {
	code {
		position: relative;
		display: inline-block;
		color: var(--code-text, #{setLightness($base-color-secondary, 20)});
		padding: 0 0.25em;

		&::before {
			content: "";
			position: absolute;
			top: -0.25em;
			left: -0.25em;
			z-index: -1;
			display: block;
			width: calc(100% + 0.5em);
			height: calc(100% + 0.5em);
			border-radius: $base-border-radius;
			background-color: var(
				--code-background,
				#{setLightness($base-color-secondary, 90)}
			);
		}
	}
}

table code {
	--code-text: #{setLightness($base-color-tertiary, 20)};
	--code-background: #{setLightness($base-color-tertiary, 90)};
}
