$base-border-radius: 0.5rem !default;
$base-transition-time: 0.3;
$base-cubic-bezier: ease-in-out;
$base-cubic-bounce: cubic-bezier(0.15, 0.65, 0.65, 1.4);
$base-transition: #{$base-transition-time}s #{$base-cubic-bezier};
$base-transition-bounce: #{$base-transition-time}s #{$base-cubic-bounce};

$base-border-color: $guyn-ice;

$base-primary-color: $guyn-Skyblue;
$base-secondary-color: $guyn-Orange;
$base-dark-color: $guyn-Plum;
$base-light-color: $guyn-Ice;

$base-form-border: 1px solid currentColor !default;
$base-form-border-radius: $base-border-radius !default;
$base-form-highlight: rgba($base-primary-color, 0.35);
