@import "base";
.card {
	position: relative;
	display: block;
	box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.1);
	border-radius: var(
		--card-border-radius,
		var(--base-border-radius, #{$base-border-radius})
	);
	background-color: var(
		--card-background-color,
		var(--base-color-light, #{$base-color-light})
	);
	color: inherit;
	text-decoration: none;
	overflow: hidden;
	transition: background $base-transition;
	&__image {
		position: relative;
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-bottom: var(--card-image-height, 50%);
		&-element {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: transform $base-transition;
			object-fit: cover;
		}
	}
	&__content {
		display: block;
		padding: 1em;
	}
	&__title {
		color: var(--card-title-color, #{$base-color-primary});
	}
	@each $color-name, $color-value in $colors {
		&--#{to-lower-case($color-name)} {
			background-color: setLightness(--color-#{to-lower-case($color-name)}, 80);
			.card__title {
				color: setLightness(--color-#{to-lower-case($color-name)}, 20);
			}
			&.card--is-link:hover {
				background-color: setLightness(--color-#{to-lower-case($color-name)}, 85);
			}
		}
	}
	&--is-link {
		&:hover {
			.card__image {
				&-element {
					transform: scale(1.05);
				}
			}
		}
	}
}
